{% extends "base.html" %}

{% block title %}My Blog Page{% endblock %}

{% block content %}
  <h1 class='text-4xl font-bold text-center mb-8'>Blog lists</h1>
  <div class='grid grid-cols-3 gap-4'>
    {% for blog in blogs %}
      <a href={{ blog.id }}>
        <div class='border p-4 rounded-md blog-card'>
          {% if blog.image %}
            <img class='rounded-md h-[300px] w-full object-cover' src="{{ blog.image.url }}" alt="{{ blog.image.url }}">
          {% else %}
            <div class='bg-zinc-200 rounded-md w-full h-[300px]'></div>
          {% endif %}
          <h4 class='text-xs mt-3'>{{ blog.category }}</h4>
          <h1 class='mb-3 text-2xl font-medium'>{{ blog.title }}</h1>
          <p>{{ blog.content }} </p>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}