<div class='accordion'>
  <div class='accordion-title'>
    This is my website
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
      <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
    </svg>
  </div>
  <div class='accordion-desc'>
    Hello, I am testing it
  </div>
</div>
<script>
  let accordions = document.querySelectorAll('.accordion');
  let accordionTitles = document.querySelectorAll('.accordion-title');
  let accordionDescs = document.querySelectorAll('.accordion-desc');

  function expandAccordion(index) {
    accordionTitles[index].classList.toggle('active');
    accordionDescs[index].classList.toggle('active');
  }

  for (let i = 0; i < accordions.length; i++) {
      accordionTitles[i].addEventListener('click', function() {
          expandAccordion(i);
      });
  }
</script>