<nav class='flex lg:w-1/2 justify-center flex-col lg:flex-row relative'>
  <button onclick="hideNavbarMobile()" class='absolute w-4 h-4 -top-4 -right-4 lg:hidden'>
    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512">
      <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
    </svg>
  </button>
  <ul>
    <li class='flex gap-x-10 flex-col lg:flex-row'>
      <a href='/' class='hover:text-blue-800'>Home</a>
      <a href='/blogs' class='hover:text-blue-800'>Blog</a>
      <a href='' class='hover:text-blue-800'>About Us</a>
    </li>
  </ul>
</nav>
<nav class='flex lg:w-1/2 gap-x-4 justify-end flex-col lg:flex-row'>
  <button class='px-[14px] py-[10px] bg-blue-500 text-white rounded-md hover:bg-blue-600'>Contact Us</button>
  {% if request.user.is_authenticated %}
    <a href='/signin/' class='px-[14px] py-[10px] bg-blue-500 text-white rounded-md hover:bg-blue-600'>Sign out</a>
  {% else %}
    <a href='/signin/' class='px-[14px] py-[10px] bg-blue-500 text-white rounded-md hover:bg-blue-600'>Sign in</a>
  {% endif %}
</nav>