{% extends 'base.html' %}

{% block title %}{{ products.product_name }}{% endblock %}

{% block content %}

<h1 class='text-4xl font-bold text-center mb-8'>{{ products.product_name }}</h1>

<main class='flex'>
  {% if products.product_image %}
  <img src={{ products.product_image.url }}>
  {% else %}
  <div></div>
  {% endif %}
  <div>
    {{ products.description }}
    {% if products.sales_price %}
        <span>฿{{ products.sales_price }}</span>
        <span>฿{{ products.regular_price }}</span>
    {% else %}
        <span>฿{{ products.regular_price }}</span>
    {% endif %}
  </div>
</main>

{% endblock %}