:root {
    --header-height:80px
}

.container {
    margin:auto;
    padding:0 20px;
}

.main-body {
    margin-top:var(--header-height);
    padding:60px 20px;
}

.blog-card {
    height:100%;
}

#header {
    position:absolute;
    top:0;
    height:var(--header-height);
    display:flex;
}

#header.active {
    animation:headerAnimWhenScroll 500ms forwards;
}

#navbar {
    display:flex;
    justify-content:space-between;
    width:100%;
    align-items:center;
}

@keyframes headerAnimWhenScroll {
    from {
        position:fixed;
        top:-10%;
    }
    to {
        position:fixed;
        top:0
    }
}

#navbar-mobile {
    display:none;
}

#navbar-mobile-overlay {
    opacity:0;
    visibility:hidden;
    transition:opacity 300ms, visibility 300ms;
}

#navbar-mobile-overlay.active {
    z-index:3;
    background-color:rgba(0,0,0,0.5);
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:1;
    visibility:visible;
    transition:opacity 300ms, visibility 300ms;
}

#navbar-mobile-menu {
    max-width:400px;
    width:100%;
    background-color:white;
    position:fixed;
    height:100%;
    top:0;
    right:0;
    z-index:10;
    padding:40px;
}

@media (max-width:1023px){
    #navbar {
        display:none;
    }
    #navbar-mobile {
        display:block;
    }
    #navbar-mobile-menu {
        transform:translateX(100%);
        transition:transform 300ms;
    }
    #navbar-mobile-menu.active {
        transform:translateX(0);
        transition:transform 300ms;
    }
}