.container {
    margin:auto;
}

.main-body {
    margin-top:76px;
    padding:60px 0;
}

.blog-card {
    height:100%;
}

#header {
    position:absolute;
    top:0;
}

#header.active {
    animation:headerAnimWhenScroll 500ms forwards;
}

@keyframes headerAnimWhenScroll {
    from {
        position:fixed;
        top:-10%;
    }
    to {
        position:fixed;
        top:0
    }
}